<header>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
    </style>
    <div
        id="sapna-xerox"
        class="p-223 text-center bg-image"
        style="background-image: url('https://images.pexels.com/photos/5833799/pexels-photo-5833799.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: cover; height: 1063px;">
        
        <div class="mask" style="background-color: rgba(255 255 255 / 70%); height: 1063px;">
        
            
            <br/><h3 style="font-family: Merriweather; font-size: 28px;">OUR GOALS</h3>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <br/><p class="aboutp" style="font-family: 'Merriweather', serif; ">
                        To provide quality Prints and finished products and<br/> solution to our esteemed client in given time,
                        we all aware the quality comes at a price,<br/> our customer knows this better. 
                        We cater to our customer<br/> needs with personalized service to make them our repeated clients. 
                        We need an opportunity to make you feel the difference
                    </p>
                    <hr class="hr"/>
                

                
                    <h3 style="font-family: Merriweather; font-size: 28px;">OUR MISSION</h3>
                    <br/><p class="aboutp" style="font-family: 'Merriweather', serif;">
                        As an experienced printer we understand our customer needs to best of our knowledge and 
                        give quality with value added prints to their current and future print requirements. 
                        Our experienced staff under stand the criticality and customer need for the print in terms 
                        of print quality, print finishing, and delivery time, what we provide to our clients is confidence 
                        in us by our services.
                    </p>
                    <hr class="hr"/><br/>

                    <h3 style="font-family: Merriweather; font-size: 28px;">Services Overview</h3>
                    <p>
                        Copying<hr class="hr"/>
                        Digital Printing<hr class="hr"/>
                        Offset Printing<hr class="hr"/>
                        Large Format Printing<hr class="hr"/>
                        Flex Printing<hr class="hr"/>
                        Gift Solutions<hr class="hr"/>
                        Scanning<hr class="hr"/>
                        Binding<hr class="hr"/>
                    </p>
                </div>
            </div>
            
            
          
            
    
        </div>
    </div>
    <!-- Background image -->
</header>