<header>
    <div
        id="sapna-xerox"
        class="p-223 text-center bg-image"
        style="background-image: url('https://images.unsplash.com/photo-1503694978374-8a2fa686963a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJlc3N8ZW58MHx8MHx8&w=1000&q=80');
        background-size: cover; height: 692px;">
        
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7); height: 692px;">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
            <h1 class="mb-3">Welcome To Sapna Xerox.</h1>
            <h5 class="mb-4">Order Printouts from Home without having to wait in long queues!</h5>
            <%= link_to 'Get Started', new_order_path, class:"btn btn-outline-light btn-lg m-2" %>
            
          
            </div>
        </div>
        </div>
    </div>
    <!-- Background image -->
</header>