/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";



 .paginator{
  display: grid;
  justify-content: center;
  align-items: center;
 }


 // Navbars

 .home-li{
  padding-right: 20px;
 }
 
 .order-li{
  padding-right: 20px;

 }

.d-flex{
  padding: 223px;
}
.navbar{
  margin: 0px;
}

.alert{
  margin: 0px;
}

.notice{
  margin: 0px;
}



// Account button (When Admin is signed in)
.btn-acnt{
  padding-left: 50px;
  margin-left: 1158px;
}

.button-del-all{
  margin-left: 513px;
}

.navbar{
  border-radius: 0px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.alert-warning {
  color: white;
  background: #212529;
  border-color: white;
  text-align: center;
}

.alert-danger{
  text-align: center;
}

.alert-success{
  text-align: center;
  font-size: 22px;
  box-shadow: 0px 0px 90px 7px #387239;
}

.alert-info{
  text-align: center;
}

.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0px;
  border-top: 1px solid #000000;
}

.aboutp{
  text-align: left;
}


.animate-p{
  animation: transitionIn 4s;
}

.animate-msg{
  animation: transitionIn 2s;

}
.animate-home{
  animation: transitionIn 0.8s;
  animation-direction: alternate;
}

.animate{
  animation: transitionIn 2s;
}

.animate-txt{
  animation: transitionIntext 1s;
}

.animate-head{
  animation: transitionInhead 1s;
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);

  }


  to{
    opacity: 1;
    transform: rotateX(0);

  }


}

@keyframes transitionIntext {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
    margin-top: 200px;

  }


  to{
    opacity: 1;
    transform: rotateX(0);
    margin-top: 0px;

  }


}

@keyframes transitionInhead {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
    margin-right: 200px;

  }


  to{
    opacity: 1;
    transform: rotateX(0);
    margin-right: 0px;

  }


}

// nav buttons
button {
  border: none;
  border-radius: none;
  font-weight: bolder;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #ffffff1c;
  transition: all 1000ms;
  font-size: 15px;
  font-family: 'Lato';
  position: relative;
  overflow: hidden;
  background: #212529;
  border-radius: 222px;
  font-size: 10px;
  box-shadow: 0px 0px 0px black;
  margin-top: 4px;
  padding: 11px;
  
}

//home button
.home-btn {
  border: 10px white;
  border-radius: 0px;
  font-weight: bolder;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #c800001c;
  transition: all 1000ms;
  font-size: 15px;
  font-family: 'Lato';
  position: relative;
  overflow: hidden;
  background: #21252900;
  border-radius: 222px;
  font-size: 10px;
  box-shadow: 0px 0px 0px black;
  margin-top: 4px;
  padding: 11px;
  
}


button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ffffff1c;
  box-shadow: 4px 5px 17px -4px #ffffff1c;
}

button:target {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ffffff1c;
  box-shadow: 4px 5px 17px -4px #ffffff1c;
}

button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ffffff1c;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 500ms;
}

button:hover::before {
  width: 250%;
}

// form
.input-group{
  border-radius: 0px;
}

.input:hover{
  border-color: 1px black ;
}

.card {
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .shadow {
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
 }

 .hr {
margin-top: 20px;
margin-bottom: 20px;

}
 
footer {
  position: inherit;
  bottom: 0;
  width: 100%;

}


.sadaf {
  box-shadow: 1px 2px 32px #616161;
}

.nav-link:focus, .nav-link:hover {
  color: #010307;
}