<div class="animate-msg" style="position: absolute;">
<% flash.each do |name, msg| %>
    <div class="container" style=" display: grid; align-items: center; justify-content: center; padding-left: 351px; "><br/>
        <div class="alert alert-<%= flash_fix(name) %>" style="position: absolute; z-index:999; padding: 20px;">
            <%= msg %>
        </div><br/>
    </div>
<% end %>
</div>